html {
  --background-dark: #454130;
  --foreground-dark: #ebe7df;
  --background-light: #fff3da;
  --foreground-light: #303030;
  --opacity-normal: 50%;
  --opacity-bright: 95%;
  --black: #000000;
  --red: #e42f18;
  --green: #16a816;
  --yellow: #dd9311;
  --blue: #3da1ea;
  --magenta: #c432f4;
  --cyan: #0ba8a9;
  --white: #ffffff;
}

#root {
  display: flex;
}

.bg {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.cell {
  font-family: monospace;
  font-size: x-large;
  padding: 10px;
}
